<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Form to add Ambulance Details</h1>
    <form class="" action="/ambulance/add" method="post">
      <input type="text" name="vechile_number" placeholder="vechile_number">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="total_trips" placeholder="total_trips">
      <button type="submit" name="button">ADD</button>
    </form>
  </body>
</html>
