<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Form to add Dealer Details</h1>
    <form class="" action="/dealer/add" method="post">
      <input type="text" name="id" placeholder="id">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="company" placeholder="comapny">
      <input type="text" name="supply" placeholder="supply">
        <input type="text" name="bill" placeholder="bill">
      <button type="submit" name="button">ADD</button>
    </form>
  </body>
</html>
