<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edits Dealer page</h1>
    <form class="" action="/dealer/edit/{{dealer.id}}" method="post">
<input type="text" name="id" value="{{dealer.id}}" placeholder="">
<input type="text" name="name" value="{{dealer.name}}" placeholder="">
<input type="text" name="company" value="{{dealer.company}}" placeholder="">
<input type="text" name="supply" value="{{dealer.supply}}" placeholder="">
<input type="text" name="bill" value="{{dealer.bill}}" placeholder="">
<button type="submit" name="button">Save</button>
</form>
  </body>
</html>
