<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This form is to find the details of doctors for patient Diagnosed Type</h1>
    <form class="" action="/doctorslot/add" method="get">
      <input type="text" name="id" placeholder="Patient id">
      <button type="submit" name="button">ADD</button>
    </form>
  </body>
</html>
