<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Form to add Doctor Details</h1>
    <form class="" action="/doctor/add" method="post">
      <input type="text" name="id" placeholder="id">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="dept" placeholder="department">
      <input type="text" name="experience" placeholder="experience">
        <input type="text" name="degree" placeholder="degree">
        <input type="text" name="available_time" placeholder="available_time">
        <input type="text" name="to_till" placeholder="to_till">
      <button type="submit" name="button">ADD</button>
    </form>
  </body>
</html>
