<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Form to add Workers Details</h1>
    <form class="" action="/workers/add" method="post">
      <input type="text" name="id" placeholder="id">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="type_of_work" placeholder="type_of_work">
      <input type="text" name="join_date" placeholder="join_date">
      <button type="submit" name="button">ADD</button>
    </form>
  </body>
</html>
