<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edits workers page</h1>
    <form class="" action="/workers/edit/{{workers.id}}" method="post">
<input type="text" name="id" value="{{workers.id}}" placeholder="">
<input type="text" name="name" value="{{workers.name}}" placeholder="">
<input type="text" name="type_of_work" value="{{workers.type_of_work}}" placeholder="">
<input type="text" name="join_date" value="{{workers.join_date}}" placeholder="">
<button type="submit" name="button">Save</button>
</form>
  </body>
</html>
